
<div id="menu">
    <nav>
       @*  <NavLink class="menu-link" href="/" Match="NavLinkMatch.All">
            <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Home
        </NavLink> *@
        <NavLink class="menu-link" href="#features">
            <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Overview
        </NavLink>
        <NavLink class="menu-link" href="courses">
            <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Courses
        </NavLink>
        <NavLink class="menu-link" href="#subscribe">
            <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Contact
        </NavLink>
    </nav>
</div>
