
<div id="menu">
    <nav>
        <NavLink class="menu-link" href="/" Match="NavLinkMatch.All">
            <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Courses
        </NavLink>
        <NavLink class="menu-link" href="clients">
            <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Clients
        </NavLink>
        <NavLink class="menu-link" href="Users">
            <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Users
        </NavLink>
    </nav>
</div>
