@page "/signUp"
@inject NavigationManager navigationManager

<section class="sign-in">
    <div class="container">
        <EditForm class="row g-3 justify-content-md-center" Model="@model" OnValidSubmit="@Signup" FormName="signUpForm">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="row g-3 justify-content-md-center">
                <h1 class="col-md-8">Create Account</h1>
                <p class="col-md-8">Already have an account? <a href="SignIn">Sign in here.</a></p>
            </div>
            <div class="col-md-4">
                <label class="form-label fw-semibold">First name</label>
                <InputText @bind-Value="model.FirstName" type="text" class="form-control" required />
            </div>

            <div class="col-md-4" id="form-lastname">
                <label class="form-label fw-semibold">Last name</label>
                <InputText @bind-Value="model.LastName" type="text" class="form-control" required />
            </div>

            <div class="col-md-8" id="form-email">
                <label class="form-label fw-semibold">Email address</label>
                <InputText @bind-Value="model.Email" type="email" class="form-control" required />
            </div>

            <div class="col-md-8" id="form-password">
                <label class="form-label fw-semibold">Password</label>
                <InputText @bind-Value="model.Password" type="password" class="form-control" required />
            </div>

            <div class="col-md-8" id="form-confirm">
                <label class="form-label fw-semibold">Confirm password</label>
                <InputText @bind-Value="model.ConfirmPassword" type="password" class="form-control" required />
            </div>
            <div class="col-md-8">
                <div class="form-check">
                    <div id="Form-remember" class="col-md-8 checkbox">
                        <div class="checkbox-group">
                            <InputCheckbox type="checkbox" @bind-Value="model.TermsConditions" />
                            <label>I agree to the <a href="TermsAndConditions">Terms & Conditions .</a></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-8 d-grid">
                <button class="btn btn-theme-s" type="submit">Sign Up</button>
            </div>
        </EditForm>

    </div>
</section>

@code {
    [SupplyParameterFromForm]
    private SignUpRequest model { get; set; } = new SignUpRequest();

    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }
    private async Task Signup()
    {

       try
        {
            var httpClient = new HttpClient();
            var response = await httpClient.PostAsJsonAsync(AzureFunction.AccountProvider + "/SignUp", model);
            if (response.IsSuccessStatusCode)
            {
                var responseBody = await response.Content.ReadFromJsonAsync<SignInResponse>();
                navigationManager.NavigateTo("/signIn");
                Console.WriteLine("successful");
            }
            else
            {
                Console.WriteLine("Login failed");
            }
        }
        catch (Exception)
        {
            
            throw;
        }
    }

}
